serverLogRuntastic/myfiles/validatoreEvento.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EventoNavigazioneGUI">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicazione" type="xs:string"/>
                <xs:element name="ipClient" type="xs:string"/>
                <xs:element name="etichettaEvento" type="xs:string"/>
                <xs:element name="giornoOraCorrente" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>